@media screen and (min-width: 375px) and (max-width: 1440px) {
  /* your responsive rules here */
}

.container {
  align-items: center;
}

img {
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
